*{
    padding: 0;
    margin: 0;
    font-family:sans-serif
}
.container{
    width: 70% !important;
}
.box{
    display: flex !important;
    flex-direction: row !important;
}
aside{
    position: fixed;
    width:300px;
    text-align: center;
    background-color: #f2f3f7;
    padding: 20px;
    padding-bottom: 40px;
    float: left;
    height: 100vh;
}
aside img{
    padding-top: 20px;
    padding-bottom: 20px;
}
aside h3{
    margin:  10px;
    font-size: ;
}
aside  p{
    font-size: 11px;
    padding-bottom: 15px;
}
.nav{
    text-align: center;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}
.nav-item{
    list-style: none;
    padding-top: 7px;
}
.nav-item a:hover{
    color: chartreuse;
    transition: 0.4s;
}
.nav-item a{
   text-decoration: none; 
   text-transform: uppercase;
   font-size: 14px;
   padding-top: 4px;
   color: black;
}
.footer{
    margin-top: 20px;
    font-size: 18px !important;
}

/* contact setion */
.contect{
    margin-left: 300px;
}
/* hero section */

.hero{
    background-image:url(/images/image2.webp) ;
    background-position: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: #fff;
}
.hero-description{
    position: relative;
    top: 300px;
    left:30px;
    padding-left: 30px;
}
.hero-description h3{
    font-size: 18px;
    padding-bottom:10px ;
    font-weight: 400;
    letter-spacing: 2px;
    color: #797979;
}
.hero-description h1{
    letter-spacing: 2px;
    margin-top: 16px;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #05364E
} */
.hero-description p{
    color: #797979;
    font-size:20px;
}

/* about us */
.about{
    padding-left:30px;
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 30px;
}
.sub-title p{
    margin-bottom: 15px;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing:5px
}
.sub-title h3{
    font-size: 14px;
    font-weight: 600;
    text-transform:uppercase;
    letter-spacing: 2px;
    line-height: 1.;
    position: relative;
    margin-bottom: 4rem;
}
.about-description > p{
    color: #797979;
    opacity: 0.7;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.6;
}
.about-description p span{
    color: black;
    font-weight: 600;
}
.about-items{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    margin-top: 90px;
}
.about-item{
    padding-top:24px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin-right: 10px;
    border-bottom: 3px solid rgb(218, 218, 20);
    transition: all 0.5s !important;
}

.about-item:hover{
    box-shadow: 0px 0px 10px 5px #01ff19 !important;
    transform: scale(1.05) !important;
}
.about-item i{
    padding-bottom: 20px;
    color: rgb(218, 218, 20);
}
.about-item p{
    font-size:16px;
    font-weight: 500;
}
/* hire section */
.hire{
    padding: 30px;
    background-color: #f9bf3f;
    transition: all 0.7s;

}
.hire h2{
    font-size: 18px;
    font-weight:400;
    color: #000;
    letter-spacing: 1px;
    line-height: 1.6;
    
}
.hire-btn{
    background-color: #f9bf3f;
    padding: 1px 4px;
    font-family: "Quicksand", Arial, sans-serif;

}   
.hire:hover{
    box-shadow: 0px 0px 10px 5px #01ff19 !important;
    transform: scale(1.05);
}

/* services section */
.services{
    padding-top: 60px;
    padding-left: 30px;
    background-color: #fff;
}
.services-items{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -30px;
}
.services-item{
    width: 24%;
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    transition: all 0.7s;
    border-bottom:3px solid green; 
}

.services-item:hover{
    box-shadow: 0px 0px 10px 5px #01ff19 !important;
    transform: scale(1.05);
}
.services-item h3{
    font-size: 14px;
    font-weight: 700;
}
.services-item p{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.7;
    padding-top: 20px;
}
.fig{
    position: relative;
    left: 38%;
    top: -30px;
    background-color:#797979 ;
    width: 40px;
    height: 40px;
}

/* skills section */
.skills{
    padding-left: 30px;
    padding-top: 210px;
    padding-bottom: 210px;
}
.skills-item{
    padding-top: 40px;
}
.skill{
    width: 100%;
    height: 4px;
    background-color:#ddd;
    border-radius: 2px;
    position: relative;
}
.skill-75{
    width: 75%;
    background-color: #2c98f0;
}
.skill-75:after{
    background-color: #2c98f0;
    left: 75% ;
}
.skill div{
    border-radius: 2px;
}
.skill-85{
    height: 6px;
    width: 85%;
    background-color: #f9bf3f;
}
.skill-85:after{
    background-color: #f9bf3f;
    left: 85% ;
}
.skill-70{
    width: 70%;
    background-color: #2fa499;
}
.skill-70:after{
    background-color: #2fa499;
    left: 70% ;
}
.skill-60{
    width: 60%;
    background-color: #ec5453;
}
.skill-60:after{
    background-color: #ec5453;
    left: 60% ;
}
.skill-90{
    width: 90%;
    background-color: #a84cb8;
}
.skill-90:after{
    background-color: #a84cb8;
    left: 90% ;
}
.skill-80{
    width: 80%;
    background-color: #4054b2;
    left: 70%;  
}
.skill-80:after{
    background-color: #4054b2;
    left: 80% ;
}
.skills-item{
    margin: 10px;
    margin-left: 0;
}
.skills-item p{
    margin: 0;
    font-size: 14px;
}
.u-skill{
    height: 4px;
}
.u-skill:after{
    position: absolute;
    width: 10px;
    height: 10px;
    content: "";
    border-radius: 50%;
    top: -3px;
}