*{
    padding: 0;
    margin: 0;
    font-family:sans-serif
}
.container{
    width: 70% !important;
}
.box{
    display: flex !important;
    flex-direction: row !important;
}
aside{
    position: fixed;
    width:300px;
    text-align: center;
    background-color: #f2f3f7;
    padding: 20px;
    padding-bottom: 40px;
    float: left;
    height: 100vh;
}
aside img{
    padding-top: 20px;
    padding-bottom: 20px;
}
aside h3{
    margin:  10px;
    font-size: ;
}
aside  p{
    font-size: 11px;
    padding-bottom: 15px;
}
.nav{
    text-align: center;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}
.nav-item{
    list-style: none;
    padding-top: 7px;
}
.nav-item a:hover{
    color: chartreuse;
    transition: 0.4s;
}
.nav-item a{
   text-decoration: none; 
   text-transform: uppercase;
   font-size: 14px;
   padding-top: 4px;
   color: black;
}
.footer{
    margin-top: 20px;
    font-size: 18px !important;
}

/* contact setion */
.contect{
    margin-left: 300px;
}
/* hero section */

.hero{
    background-image:url(/images/image2.webp) ;
    background-position: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: #fff;
}
.hero-description{
    position: relative;
    top: 300px;
    left:30px;
    padding-left: 30px;
}
.hero-description h3{
    font-size: 18px;
    padding-bottom:10px ;
    font-weight: 400;
    letter-spacing: 2px;
    color: #797979;
    letter-spacing: 1.1;
}
.hero-description h1{
    letter-spacing: 2px;
    margin-top: 16px;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #05364E
} */
.hero-description p{
    color: #797979;
    font-size:20px;
}

/* about us */
.about{
    padding-left:30px;
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 120px;
}
.sub-title p{
    margin-bottom: 15px;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing:5px
}
.sub-title h3{
    font-size: 14px;
    font-weight: 600;
    text-transform:uppercase;
    letter-spacing: 2px;
    line-height: 1.;
    position: relative;
    margin-bottom: 4rem;
}
.about-description > p{
    color: #797979;
    opacity: 0.7;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.6;
}
.about-description p span{
    color: black;
    font-weight: 600;
}
.about-items{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    margin-top: 90px;
}
.about-item{
    padding-top:24px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin-right: 10px;
    border-bottom: 3px solid rgb(218, 218, 20);
    transition: all 0.5s !important;
}

.about-item:hover{
    box-shadow: 0px 0px 10px 5px #01ff19 !important;
    transform: scale(1.05) !important;
}
.about-item i{
    padding-bottom: 20px;
    color: rgb(218, 218, 20);
}
.about-item p{
    font-size:16px;
    font-weight: 500;
}
/* hire section */
.hire{
    padding: 30px;
    background-color: #f9bf3f;
    transition: all 0.7s;
}
.hire h2{
    font-size: 18px;
    font-weight:400;
    color: #000;
    letter-spacing: 1px;
    line-height: 1.6;
    
}
.hire-btn{
    background-color: #f9bf3f;
    padding: 1px 4px;
    font-family: "Quicksand", Arial, sans-serif;

}   
.hire:hover{
    box-shadow: 0px 0px 10px 5px #01ff19 !important;
    transform: scale(1.05);
}

/* services section */
.services{
    padding-top: 60px;
    padding-bottom: 135px;
    padding-left: 30px;
    background-color: #fff;
}
.services-items{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -30px;
}
.services-item{
    width: 24%;
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    transition: all 0.7s;
    border-bottom:3px solid green; 
}

.services-item:hover{
    box-shadow: 0px 0px 10px 5px #01ff19 !important;
    transform: scale(1.05);
}
.services-item h3{
    font-size: 14px;
    font-weight: 700;
}
.services-item p{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.7;
    padding-top: 20px;
}
.fig{
    position: relative;
    left: 38%;
    top: -30px;
    background-color:#797979 ;
    width: 40px;
    height: 40px;
}

/* skills section */
.skills{
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 135px;
}
.skills-item{
    padding-top: 40px;
}
.skill{
    width: 100%;
    height: 4px;
    background-color:#ddd;
    border-radius: 2px;
    position: relative;
}
.skill-75{
    width: 75%;
    background-color: #2c98f0;
}
.skill-75:after{
    background-color: #2c98f0;
    left: 75% ;
}
.skill div{
    border-radius: 2px;
}
.skill-85{
    height: 6px;
    width: 85%;
    background-color: #f9bf3f;
}
.skill-85:after{
    background-color: #f9bf3f;
    left: 85% ;
}
.skill-70{
    width: 70%;
    background-color: #2fa499;
}
.skill-70:after{
    background-color: #2fa499;
    left: 70% ;
}
.skill-60{
    width: 60%;
    background-color: #ec5453;
}
.skill-60:after{
    background-color: #ec5453;
    left: 60% ;
}
.skill-90{
    width: 90%;
    background-color: #a84cb8;
}
.skill-90:after{
    background-color: #a84cb8;
    left: 90% ;
}
.skill-80{
    width: 80%;
    background-color: #4054b2;
    left: 70%;  
}
.skill-80:after{
    background-color: #4054b2;
    left: 80% ;
}
.skills-item{
    margin: 10px;
    margin-left: 0;
}
.skills-item p{
    margin: 0;
    font-size: 14px;
}
.u-skill{
    height: 4px;
}
.u-skill:after{
    position: absolute;
    width: 10px;
    height: 10px;
    content: "";
    border-radius: 50%;
    top: -3px;
}

/* education */
.education{ 
    padding-left: 30px;
    padding-bottom: 135px;
    padding-top: 60px;
}
.color-grey{
    background-color: #f2f3f7 !important;
}
/* experince */
.experience{
    padding-left: 30px;
    position: relative;
    padding-top: 60px;
    
}
.experience-items{
    padding-top: 30px;
    padding-left: 50px;
    
}
.experience-item{
    background-color: #f2f3f7;
    padding: 20px;
    margin-bottom: 10px;
    position:relative;
}
.experience-item h3{
    font-size:18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.experience-item h3 span{
    font-size: 14px;
    opacity: .4;
}
.experience-item p{
    color: #797979;
    opacity: 1;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.6;
}
.experience-item p:before{
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 25px;
    left: -10px;
    border-style:solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f2f3f7 transparent transparent;
}
.experience-items:before{
    content: " ";
    width: 4px;
    height: 100%;
    position: absolute;
    background-color: #f2f3f7;
    left:38px;
}
.experience-item h3:before{
    content: " ";
    width: 30px;
    height: 30px;
    position: absolute;
    left: -57px;
    background-color: #2c98f0;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px  rgb(221 221 221);
    animation-name: box;
    animation-duration: 2s;
    animation-timing-function: ease-in-cubic-bezier(0.06, 0.21, 0.77, 0.94);
    animation-iteration-count: infinite;
}
.work{
    padding-top:210px ;
    padding-left: 30px;
    padding-bottom: 210px;
}
.work-menu{
    text-align: left;
}
.work-menu ul{
    display: flex;
    padding-left: 0px !important;
    
}
.work-menu ul li{
    list-style: none;
    padding-right: 15px;
    font-size: 14px;
    
}
.work-img{
    margin-bottom: 30px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    width: 100%;
    display: block;
    padding-right: 10px;
}

.work-img img{
    width:100%;
    height: 100%;
    z-index: -1;
    
}
.con{
    position: absolute;
    top:0px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-color: #2c98f0;
    opacity: 0;
    transition:all 0.5s;
    padding: 30px;
}

.work-img:hover .con{
    opacity: 1;
}
.row-item{
    width: 50%;
}

.con h1{
    font-size: 16px;
    color: #fff;
    text-transform:uppercase;
    line-height: 1.1;
    letter-spacing: 2px;
}
.con p{
    font-size: 14px;
    padding-top: 1rem;
    line-height: 1.1;
    letter-spacing: 1px;
    color: #fff;
}
.con .icon{
    position: absolute;
    bottom: 0;
    padding-bottom:20px ;
}
.con .icon span{
    background: rgba(255,255,255,.5); 
    padding: 5px;
    margin: 10px;
    margin-left:0 ;
    border-radius: 5px;
}
.con .icon span a{
    color: #000;
    font-size: 12px;
    text-decoration: none;
}
.button{
    width: 100%;
    background-color:#2c98f0;
    padding: 10px;
    border: none;
    border-radius: 3px;
    transition: all 0.5s;
}
.button a{
    color:#01ff19 ;
}
.button:hover{
     background-color: #01ff19;
     
}
.button:hover a{
    color: #2c98f0;
}

/* Blog section */
.blog{
    padding-top: 150px;
    padding-left: 30px;
}
.blog-items{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.blog-item{
    width:;
    margin-right: 20px;
    overflow: hidden;
    transition: all 0.5s !important;
}
.blog-image{
    transition: all 0.5s;
    width: 100%;
}
.blog-image img{
    width: 100%;
}
.blog-description{
    padding: 10px;
}
.blog-item span{
    font-size: 12px;
    color: rgba(0,0,0,.4)!important;
}
.blog-description h3{
    font-size: 15px;
}
.blog-description p{
    font-size:12px ;
    padding-top: 10px;
    color: rgba(0,0,0,.7);
}
.blog-item:hover{
    box-shadow: 0px 0px 10px 5px #01ff19 !important;
}
.blog-item:hover .blog-image{
    transform:scale(1.1)
}
/* contact section */
.contact{
    padding-top: 150px;
    padding-left: 30px;
    padding-bottom: 150px;
}
.contact-items{
    display: flex;
    flex-direction: row;
}
.contact-items div{
    width: 50%;
}
.contact-items h1{
    font-size: 12px;
    margin-bottom: 50px;
    color:rgba(0,0,0,.7);
    margin-top: 14px;
}
.contact-items h1 span{
    padding: 20px;
    background-color: #f2f3f7;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 2px;
}
form input,textarea{
    width: 100%;
    border: none;
    margin-bottom: 20px;
    background-color: #f2f3f7 ;
    padding: 8px 5px;
    font-size: 14px;
    margin-left: 10px;
    outline: none
}
form textarea{
    min-height:150px  ; 
}




@keyframes box{
    0%{
        box-shadow: 0px 0px 0px 3px  rgb(221 221 221);
    }
    100%{
        box-shadow: 0px 0px 10px 10px  chartreuse;
        transform: scale(1.05);
        
    }
}
